fastapi==0.112.1
ultralytics==8.2.79
uvicorn==0.30.6
pydantic-settings==2.4.0
python-multipart==0.0.9
torch @ https://download.pytorch.org/whl/cpu-cxx11-abi/torch-2.4.0%2Bcpu.cxx11.abi-cp311-cp311-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.19.0%2Bcpu-cp311-cp311-win_amd64.whl
